<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.heart.dao.BoardMapper">
	
	<sql id="selectFromBoard">
		SELECT bno, title, content, writer, view_cnt, comment_cnt, reg_date
		FROM t_board
	</sql>
	
	<select id="select" parameterType="int" resultType="BoardDto">
		<include refid="selectFromBoard" />
		where bno = #{bno}
	</select>
	
	<delete id="deleteAll">
		delete from t_board
	</delete>
	
	<delete id="delete" parameterType="map">
		delete from t_board where bno = #{bno} and writer = #{writer}
	</delete>

	<delete id="deleteForAdmin">
		delete from t_board where bno = #{bno}
	</delete>
	
	<insert id="insert" parameterType="BoardDto">
		INSERT INTO t_board
			(title, content, writer)
		VALUES
			(#{title}, #{content}, #{writer})
	</insert>
	
	<select id="count" resultType="int">
		select count(*) from t_board
	</select>
	
	<sql id="searchCondition">
		<choose>
			<when test='option=="T"'>
				AND title LIKE concat('%', #{keyword}, '%')
			</when>
			<when test='option=="W"'>
				AND writer LIKE concat('%', #{keyword}, '%')
			</when>
			<otherwise>
				AND (title LIKE concat('%', #{keyword}, '%')
				OR content LIKE concat('%', #{keyword}, '%'))
			</otherwise>
		</choose>
	</sql>
	
	<select id="searchResultCnt" parameterType="SearchItem" resultType="int">
		select count(*)
		from t_board 
		where true 
		<include refid="searchCondition" />
	</select>
	
	<select id="selectPage" parameterType="map" resultType="BoardDto">
		<include refid="selectFromBoard" />
		order by reg_date desc, bno desc
		limit #{pageSize} offset #{offset}
	</select>
	
	<select id="searchSelectPage" parameterType="SearchItem" resultType="BoardDto">
		select bno , title, content , writer , view_cnt , comment_cnt , reg_date 
		from t_board 
		where true 
		<include refid="searchCondition" />
		order by reg_date desc, bno desc
		limit #{pageSize} offset #{offset}
	</select>
	
	<update id="increaseViewCnt" parameterType="int">
		update t_board 
		set view_cnt = view_cnt + 1
		where bno = #{bno}
	</update>
	
	<update id="update" parameterType="BoardDto">
		update t_board
		SET title=#{title}, content=#{content}, up_date=now()
		WHERE bno=#{bno} and writer=#{writer}
	</update>
	
	<update id="updateCommentCnt" parameterType="map" >
		update t_board 
		set comment_cnt = comment_cnt + #{cnt}
		where bno = #{bno}
	</update>
</mapper>